$full-height: 100%;
$full-width: 100%;
$font-family: Roboto;

  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  html{
    --bg: #fcfcfc;
    --frame-padding: rgb(241, 241, 241);
    --bg-panel: #f3f3f39e;
    --sub-headings:#6F6F6F;
    --page-heading: #555;
    --p-color: #555;
    --color-text: #444;
    --title-heading: #444;
    --hr-color: #555;
    --box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 20%)
  }

  html[data-theme='dark']{
    --bg: #333;
    --frame-padding: rgb(255, 255, 255);
    --bg-panel: #444;
    --sub-headings: #fcfcfc;
    --page-heading: #fcfcfc;
    --p-color: #f8f8f8;
    --color-text: #f9f9f9;
    --title-heading: #fff;
    --hr-color: #f2f2f2;
    --box-shadow: 1px 1px 5px 1px rgb(255 255 255 / 20%)
  }

  html.transition,
  html.transition *,
  html.transition *:before,
  html.transition *:after{
    transition: all 750ms !important;
    transition-delay: 0 !important;
  }
  
  html,
  body,
  .view {
    height: $full-height; 
    margin: 0;
  }
  
  html,
  body,
  header,
  .view {
    height: $full-height;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: $font-family;
  }

  body{
    background-color: var(--bg);
  }

  .form-check-input[type=checkbox]:checked{
    background-color: rgba(0,0,0,.38);
  }

  .form-check-input[type=checkbox]:checked:focus{
    background-color: rgba(0,0,0,.38);
  }

  .form-check-input[type=checkbox]:checked:focus{
    background-color: rgba(0,0,0,.38);
  }

  .form-switch .form-check-input:checked[type=checkbox]:after{
    background-color: var(--title-heading);
  }

  .navbar, .page-footer{
    -webkit-box-shadow:none;
    box-shadow: none;
    background-color: var(--bg-panel)!important;
  }

  .navbar a, footer a, .footer-copyright{
    color: var(--color-text)!important;
  }

  i{
    color: var(--color-text)!important;
  }

  .navbar a i{
    color: var(--color-text)!important;
  }

  .banner {
    width: $full-width;
    padding: 2em 0;
    margin: 0;
  }
  
  .details {
    z-index: 1000;
    padding: 5em 3em;
    background-color: var(--bg);
  }
  
  .details h6 {
    font-family: 'Poppins', sans-serif;
    color: var(--sub-headings);
    font-weight: 500;
    padding-left: 5px;
  }
  
  .details h1 {
    font-size: 48px;
    font-family: Righteous;
    color: var(--title-heading);
  }

  .image {
    width: 100%;
    z-index: 1000;
    text-align: center;
    padding: 3em 0;
  }
  
  .image img {
    width: 360px;
    padding: 1.5em;
    background-color: var(--frame-padding);
    box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.5);
  }
  
  hr.title {
    width: 150px;
    border-width: 3px;
    background-color: var(--hr-color);
    text-align: justify;
    margin-left: 5px;
    border-radius: 10px 10px;
  }
  
  .details p {
    line-height: 1.5em;
    padding-left: 5px;
    color: var(--p-color);
  }
  
  .social-icons{
    margin-left: 3px;
    margin-top: 2em;
  }
  
  .social-icons i, .technologies i{
    color: #363636;
    font-size: 24px;
    padding: 0px 0.2em;
  }
  
  .social-icons i:hover, .technologies i:hover{
    color: #000;
  }
  
  .footer-social{
    color: #fff;
    font-size: 16px;
  }
  
  .btn-contact{
    background: var(--bg-panel);
    color: var(--color-text);
    margin-top: 2em;
    border-radius: 0;
    border: 1.5px solid var(--color-text);
  }
  
  .btn-contact:hover{
    background: var(--color-text);
    color: var(--bg-panel);
    transition-duration: 0.4s;
  }
  
  .btn-portfolio{
    background: var(--color-text);
    color: var(--bg-panel);
    border-radius: 0;
    border: 1.5px solid var(--color-text);
    margin-top: 2em;
  }
  
  .btn-portfolio:hover{
    background: var(--bg-panel);
    color: var(--color-text);
    transition-duration: 0.4s;
  }

  // About Page

  .page-title h1, .page-title h3{
    color: var(--page-heading);
  }

  .page-title h1 hr, .page-title h3 hr{
    width: 60px;
    height:3px;
    border-radius: 25px;
    color: var(--hr-color);
    border-color: var(--hr-color);
    background-color: var(--hr-color);
  }

  .page-title h3 hr{
    width: 100%;
  }

  .about p{
    text-align: justify;
    font-size: 17px;
    color: var(--p-color);
  }

  label{
    color: var(--p-color);
    font-weight: 500;
  }

  .technologies p{
    font-size: 17px;
    color: var(--p-color);
    font-weight: 400;
  }

  .education h4, .experience h4{
    color: var(--p-color);
  }

  .education h5, .experience h5, .left-pane h5{
    color: var(--page-heading);
  }

  .left-pane{
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--p-color);
    position: relative;
  }

  .left-pane::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: var(--bg);
    border: 2px solid var(--p-color);
  }
  
  .left-pane p, .left-pane ul li{
    color: var(--p-color);
    text-align: justify;
  }  

  //Resume

  .left-pane p a{
    color: var(--p-color)!important;
    text-decoration: underline;
  }
  
  .left-pane p a:hover{
    color: var(--p-color)!important;
    text-decoration: none;
    transition-duration: 0.3s;
  }

  // Portfolio

  .portfolio-data .card{
    background-color: var(--page-heading);
  }

  .portfolio-data .card h4, .portfolio-data .card p{
    color: var(--bg);
  }

  .portfolio-data .card .btn-contact i{
    color: var(--p-color)!important;
  }

  .portfolio-data .card .btn-contact{
    background: var(--bg);
    color: var(--p-color);
  }

  // Contact

  .contact-form h4, .contact-details h4{
    color: var(--p-color);
  }

  .contact-details p{
    font-size: 17px;
    color: var(--p-color)!important;
  }

  .contact-details p a{
    color: var(--p-color)!important;
    text-decoration: underline;
  }

  .contact-details p a:hover{
    color: var(--p-color)!important;
    text-decoration: none;
    transition-duration: 0.3s;
  }

  input[type='text'], input[type='email'], textarea{
    color: var(--p-color)!important;
  }

  #contact-form label{
    color: var(--p-color)!important;
  }

  #contact-form .btn-portfolio i{
    color: var(--bg-panel)!important;
  }

  #contact-form .btn-portfolio:hover i{
    color: var(--p-color)!important;
    transition-duration: 0.3s;
  }

  /* Responsive Media Queries */
  
  @media (max-width: 740px) {
  
    html,
    body,
    header,
    .view {
      height: 1000px;
    }
  }
  
  @media (min-width: 800px) and (max-width: 850px) {
  
    html,
    body,
    header,
    .view {
      height: 650px;
    }
  }
  
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background: #1C2331 !important;
    }
  }
  
  @media (max-width: 740px) {
    .full-page-intro {
      height: 1000px; } }
  
  /* Half Page Carousel itself*/
  .carousel {
    height: 50%; }
    .carousel .carousel-inner {
      height: 100%; }
      .carousel .carousel-inner .carousel-item,
      .carousel .carousel-inner .active {
        height: 100%; }
  
  /* Adjustment for mobile devices*/
  @media (max-width: 776px) {
    .carousel {
      height: 100%; } }
  
  /* Navbar animation */
  .navbar {
    background-color: rgba(0, 0, 0, 0.3); }
  
  .top-nav-collapse {
    background-color: #1C2331; }
  
  /* Adding color to the Navbar on mobile */
  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: #1C2331; } }
  
  /* Footer color for sake of consistency with Navbar */
  .page-footer {
    background-color: #1C2331; }
  